.course-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 20px;
}

.course-container {
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 450px;
    height: 120px;
    padding: 20px;

    background: rgba(255, 255, 255, 0.90);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

.course-container:hover {
    background: rgb(241, 241, 241);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}

.course-name:hover {
    color: #FDAC1E;
    cursor: pointer;
}

.course-footer {
    display: grid;
    grid-template-columns: 1fr 60px;
    margin-top: 10px;
    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 10%;
}

.course-info {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
}

.course-type {
    display: grid;
    grid-template-columns: 100px 1fr;
}

.type-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.course-info p {
    font-size: 16px;
    text-align: start;
    overflow-wrap: break-word;
}

.course-footer button {
    width: 50px;
    height: 50px;
}

.course-footer img {
    width: 90%;
}