@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    /* Colors */
    --highlight: #dffcf6;
    --background: #b7ebf3;
    --text: #445953;
    --action: #008caf;

    /* Fonts */
    --heading-1: 700 32px "Montserrat", sans-serif;
    --heading-2: 700 24px "Montserrat", sans-serif;
    --heading-3: 600 18.72px "Montserrat", sans-serif;
    --description: 500 16px "Montserrat", sans-serif;
}

html * {
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 400;
}