---
import DashboardLayout from "@layouts/DashboardLayout.astro";
import InfoField from "@components/InfoField.astro";
import FlowProvider from "@components/flow_chart/FlowProvider";
import { CourseTable } from "@/components/table/CourseTable";
---

<DashboardLayout page="home">
	<div
		class="p-2.5 flex flex-row gap-2.5 items-start justify-start self-stretch flex-1 relative"
	>
		<div
			class="flex flex-col gap-2.5 items-start justify-start self-stretch flex-1"
		>
			<CourseTable client:load />
			<div
				class="bg-highlight rounded-xl pt-8 pr-2.5 pb-8 pl-2.5 flex flex-row gap-0 items-start justify-start flex-wrap shrink-0 self-stretch"
			>
				<div
					class="flex flex-col gap-2.5 items-start justify-start flex-1 relative"
				>
					<InfoField
						id="earn-credits"
						title="Earned Credits:"
						total={128}
					/>
					<InfoField
						id="attempt-credits"
						title="Attempted Credits:"
						total={128}
					/>
					<!-- TODO: calculate major credits -->
					<!-- <InfoField title="Major Credits:" value="16" total={128} /> -->
					<InfoField id="cores" title="Core Courses:" total={5} />
					<InfoField id="gpa" title="GPA:" total={4} />
				</div>
				<div
					class="border-solid border-text border-l flex flex-col gap-2.5 items-start justify-start flex-1 relative"
				>
					<InfoField
						id="E1"
						title="E1 (Arts and Humanities):"
						total={2}
					/>
					<InfoField
						id="E2"
						title="E2 (Social Sciences):"
						total={2}
					/>
					<InfoField
						id="E3"
						title="E3 (Sciences and Engineering):"
						total={2}
					/>
					<InfoField
						id="E4"
						title="E4 (Mathematics and Computing):"
						total={2}
					/>
					<InfoField
						id="EL"
						title="EL (Experiential Learning):"
						total={1}
					/>
				</div>
			</div>
		</div>

		<side
			class="bg-highlight rounded-[10px] pt-[15px] pr-5 pb-[15px] pl-5 flex flex-col gap-5 items-start justify-start self-stretch shrink-0 w-1/3"
			style="overflow-y: auto"
		>
			<FlowProvider client:load />
		</side>
	</div>
</DashboardLayout>

<script src="../scripts/editInfo.ts"></script>
<script src="../scripts/loadCourses.ts"></script>
