---
import InputField from "@components/InputField.astro";
import AuthLayout from "@layouts/AuthLayout.astro";

import arrowIcon from "@assets/icons/Arrow.svg";
import showPasswordIcon from "@assets/icons/PasswordShow.svg";
import hidePasswordIcon from "@assets/icons/PasswordHide.svg";
import Button from "@components/Button.astro";
---

<AuthLayout>
  <div
    class="flex flex-col items-center justify-start shrink-0 w-[1003px] mb-4"
  >
    <div
      class="top-12 text-text text-center relative self-stretch"
      style="font: 900 90px 'Montserrat', sans-serif"
    >
      Create Account
    </div>

    <form
      class="bg-highlight rounded-[100px] pt-20 pr-10 pb-[50px] pl-10 flex flex-col gap-20 items-center justify-center self-stretch shrink-0"
      style="box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.2);"
      action="/api/auth/register"
      method="post"
      autocomplete="off"
    >
      <div
        class="flex flex-col gap-[25px] items-center justify-center self-stretch shrink-0 relative"
      >
        <InputField name="Email" type="email" id="email" />

        <InputField name="Password" type="password" id="password">
          <Button classes="show-password" theme="neutral" padding="p-0">
            <img src={showPasswordIcon} alt="eye" />
          </Button>
        </InputField>

        <InputField
          name="Confirm Password"
          type="password"
          id="confirm-password"
        >
          <Button classes="show-password" theme="neutral" padding="p-0">
            <img src={showPasswordIcon} alt="eye" />
          </Button>
        </InputField>
      </div>
      
      <Button id="register" type="submit" isfilled>
        <span class="text-4xl font-bold">Sign me UPPP!!!!</span>
				<img src={arrowIcon} alt="arrow" />
      </Button>

      <div
        class="p-2.5 flex flex-col gap-2.5 items-center justify-center shrink-0 w-[407px] relative overflow-hidden"
      >
        <div
          class="pt-0 pr-5 pb-0 pl-5 flex flex-row gap-2.5 items-center justify-start self-stretch shrink-0 relative"
        >
          <div
            class="text-text text-left relative"
            style="font: 500 20px 'Montserrat', sans-serif"
          >
            Already have an account?
          </div>

          <a
            class="text-action text-left relative"
            style="
                            font: 500 20px 'Montserrat', sans-serif;
                            text-decoration: underline;
                        "
            href="/signin"
          >
            Sign in!
          </a>
        </div>
      </div>
    </form>
  </div>
</AuthLayout>

<script define:vars={{ hidePasswordIcon, showPasswordIcon }}>
const passwordField = document.getElementById("password");
const confirmPasswordField = document.getElementById("confirm-password");
const showPwBtns = document.getElementsByClassName("show-password");
const inputFieldIds = [passwordField, confirmPasswordField];

function togglePassword(e, inputField) {
  const icon = e.target;
  if (inputField.type === "password") {
    icon.src = hidePasswordIcon;
    inputField.type = "text";
  } else {
    icon.src = showPasswordIcon;
    inputField.type = "password";
  }
}

function validatePassword() {
  if (passwordField.value != confirmPasswordField.value) {
    confirmPasswordField.setCustomValidity("Passwords don't match.");
  } else {
    if (passwordField.value.length < 6) {
      passwordField.setCustomValidity(
        "Password's length has to be atleast 6 characters long."
      );
    } else {
      passwordField.setCustomValidity("");
      confirmPasswordField.setCustomValidity("");
    }
  }
}

passwordField.onchange = validatePassword;
confirmPasswordField.onkeyup = validatePassword;

for (let i = 0; i < showPwBtns.length; i++) {
  showPwBtns[i].addEventListener("click", (e) =>
    togglePassword(e, inputFieldIds[i])
  );
}
</script>
