---
import DashboardLayout from "@layouts/DashboardLayout.astro";
import Button from "@components/Button.astro";
---

<DashboardLayout page="settings">
    <Button isfilled>Click here</Button>
</DashboardLayout>
