<div id="radio-box" class="w-full flex items-center justify-center gap-1">
    <div
        class="flex items-center px-4 bg-background border border-text rounded"
    >
        <input
            checked
            id="major"
            type="radio"
            value="major"
            name="flow-radio"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 focus:ring-2"
        />
        <label
            for="major"
            class="w-full py-4 ms-2 text-sm font-medium text-text">Major</label
        >
    </div>
    <div
        class="flex items-center px-4 bg-background border border-text rounded"
    >
        <input
            id="minor"
            type="radio"
            value="minor"
            name="flow-radio"
            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 focus:ring-2"
        />
        <label
            for="minor"
            class="w-full py-4 ms-2 text-sm font-medium text-text">Minor</label
        >
    </div>
</div>

<script>
    import updateFlowChart from "../scripts/updateFlowChart.ts";
    const radioBox = document.getElementById("radio-box");
    radioBox.addEventListener("change", updateFlowChart);
</script>