---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"div"> {
  title: string;
  value: string;
  total?: number;
  isEditable?: boolean;
  hasProgressBar?: boolean;
  progressBarWidth?: number;
}

const {
  title,
  value,
  total: total,
  isEditable = false,
  hasProgressBar = false,
  progressBarWidth = 200,
  ...rest
} = Astro.props;
---

<div
  class="pr-5 pl-5 flex flex-row gap-2.5 items-center justify-start"
  {...rest}
>
  <div
    class="text-text text-left relative"
    style="font: var(--heading-3, 600 18.72px 'Montserrat', sans-serif)"
  >
    {title}
  </div>

  <div class="flex flex-row gap-0 items-center justify-start shrink-0 relative">
    <div
      class:list={[{editableValue : isEditable}, "text-action text-left relative"]}
      style="font: var(--description, 500 16px 'Montserrat', sans-serif)"
    >
      {value}
    </div>

    <div
      class=`text-text text-left relative ${total ? "":"hidden"}`
      style="font: var(--description, 500 16px 'Montserrat', sans-serif)"
    >
      /{total}
    </div>
  </div>

  <slot />

  <div
    class=`bg-background rounded-[20px] flex flex-col gap-0 items-start justify-start shrink-0 h-3 overflow-hidden relative ${hasProgressBar ? "":"hidden"} `
    style=`box-shadow: inset 0px 4px 4px 0px rgba(0, 0, 0, 0.25); width: ${progressBarWidth}px`
  >
    <div class="bg-action rounded-[20px] flex-1 w-2/3 relative"></div>
  </div>
</div>
