---
const { name, type } = Astro.props;
---

<div class="relative w-full h-full">
    <div class="absolute h-fit -top-4 left-4 px-2 bg-dark-brown text-lg font-light italic text-white text-center">
        {name}
    </div>
    <input class="w-full h-4/5 pl-3 pt-4 pb-2 bg-transparent border-light-primary border-4 rounded-2xl" type={type} name={type} id={type} autocomplete="off" />
</div>
