---
const { name, type } = Astro.props;
---

<div class="inputField">
    <div class="input-title-box">
        <p>{name}</p>
    </div>
    <input type={type} name={type} id={type} autocomplete="off" />
</div>

<style>
    .inputField {
        position: relative;
        width: 100%;
        height: 100%;
    }
    
    .input-title-box {
        position: absolute;
        height: fit-content;
        bottom: 80%;
        left: 15px;
        padding: 0px 5px;
        background-color: var(--background);
    }

    .input-title-box p {
        font-size: 24px;
        font-weight: 300;
        font-style: italic;
        color: white;
        text-align: center;
        margin: 0;
    }

    input {
        width: 100%;
        height: 80%;
        padding-left: 10px;
        background-color: transparent;
        border: 5px solid var(--lightPrimary);
        border-radius: 20px;
    }
</style>
