---
import searchIcon from "@assets/icons/search.png";
---

<div
    class="w-full h-16 bg-light-secondary border-4 rounded-xl flex flex-row items-center justify-center gap-x-4 px-3 py-2"
>
    <img class="h-6" src={searchIcon} alt="Search Icon" />
    <input
        class="w-full h-full bg-dark-primary rounded-lg border-2 text-white px-2 focus:outline-0"
    />
</div>
