---
interface Props {
  height: number;
}
import HeaderCell from "./HeaderCell.astro";
const { height } = Astro.props;
---

<div
  class="shadow overflow-y-scroll max-h-[630px] w-full rounded-xl border-text border-r-0 border-2"
  style=`height:${height}px`
>
  <table class="table-auto w-full h-full self-stretch">
    <thead class="bg-action self-stretch sticky top-0">
      <tr>
        <HeaderCell>Term</HeaderCell>
        <HeaderCell>Code</HeaderCell>
        <HeaderCell>Title</HeaderCell>
        <HeaderCell>Grade</HeaderCell>
        <HeaderCell>Actions</HeaderCell>
      </tr>
    </thead>
    <tbody class="bg-background self-stretch">
      <slot />
    </tbody>
  </table>
</div>
