---
interface Props {
  height: number;
}
import ActionButton from "@components/ActionButton.astro";
import CourseRow from "./CourseRow.astro";
import HeaderCell from "./HeaderCell.astro";
import AddIcon from "@assets/icons/Add_white.svg";
import Button from "@components/Button.astro";
const { height } = Astro.props;
---

<div
  class="overflow-y-auto max-h-[630px] rounded-xl w-full"
  style=`height:${height}px`
>
  <table
    class="w-full rounded-xl border-solid border-text border-4 self-stretch"
  >
    <thead class="bg-action border-solid border-text border-b-4 self-stretch">
      <tr>
        <HeaderCell>Term</HeaderCell>
        <HeaderCell>Code</HeaderCell>
        <HeaderCell>Title</HeaderCell>
        <HeaderCell>Grade</HeaderCell>
        <HeaderCell>Actions</HeaderCell>
      </tr>
    </thead>
    <tbody class="bg-background border-solid border-text border-b self-stretch">
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
    </tbody>
  </table>

</div>
<Button classes="rounded-full absolute bottom-2 right-2 p-2" isfilled> <img src={AddIcon} alt="add"></Button>
