---
import CourseRow from "./CourseRow.astro";
import HeaderCell from "./HeaderCell.astro";
---

<table
  class="rounded-[10px] border-solid border-text border-4 self-stretch shrink-0 w-full relative overflow-y-auto"
>
  <thead
    class="bg-action border-solid border-text border-b-4 self-stretch relative"
  >
    <tr>
      <HeaderCell>Term</HeaderCell>
      <HeaderCell>Code</HeaderCell>
      <HeaderCell>Title</HeaderCell>
      <HeaderCell>Grade</HeaderCell>
      <HeaderCell>Actions</HeaderCell>
    </tr>
  </thead>
  <tbody
    class="bg-background border-solid border-text border-b self-stretch relative"
  >
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
    <CourseRow
      term="Spring 2023"
      code="MATH105"
      title="Introduction to Statistics"
      grade="A"
    />
  </tbody>
</table>
