---
interface Props {
  height: number;
}
import CourseRow from "./CourseRow.astro";
import HeaderCell from "./HeaderCell.astro";
import AddIcon from "@assets/icons/Add_white.svg";
import Button from "@components/Button.astro";
const { height } = Astro.props;
---

<div
  class="shadow overflow-y-scroll max-h-[630px] w-full rounded-xl"
  style=`height:${height}px`
>
  <table
    class="table-auto w-full self-stretch"
  >
    <thead class="bg-action self-stretch sticky top-0">
      <tr>
        <HeaderCell>Term</HeaderCell>
        <HeaderCell>Code</HeaderCell>
        <HeaderCell>Title</HeaderCell>
        <HeaderCell>Grade</HeaderCell>
        <HeaderCell>Actions</HeaderCell>
      </tr>
    </thead>
    <tbody class="bg-background self-stretch">
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
      <CourseRow
        term="Spring 2023"
        code="MATH105"
        title="Introduction to Statistics"
        grade="A"
      />
    </tbody>
  </table>

</div>
<Button classes="rounded-full absolute bottom-2 right-2 p-2" isfilled> <img src={AddIcon} alt="add"></Button>
