---
interface Props {
  height: number;
}
const { height } = Astro.props;
---

<table class="table-auto w-full h-full text-left">
  <thead class="bg-action flex w-full rounded-xl">
    <tr class="flex mb-4 w-full">
      <th
        scope="row"
        class="text-highlight p-4 w-1/12"
        style="font: 600 26px 'Montserrat', sans-serif"
      >
        No.
      </th>

      <th
        scope="row"
        class="text-highlight p-4 w-1/6"
        style="font: 600 26px 'Montserrat', sans-serif"
      >
        Term
      </th>

      <th
        scope="row"
        class="text-highlight p-4 w-1/6"
        style="font: 600 26px 'Montserrat', sans-serif"
      >
        Code
      </th>

      <th
        scope="row"
        class="text-highlight p-4 flex-1 text-center"
        style="font: 600 26px 'Montserrat', sans-serif"
      >
        Title
      </th>

      <th
        scope="row"
        class="text-highlight p-4 w-[10%]"
        style="font: 600 26px 'Montserrat', sans-serif"
      >
        Grade
      </th>

      <th
        scope="row"
        class="text-highlight p-4 w-[12%]"
        style="font: 600 26px 'Montserrat', sans-serif"
      >
        Actions
      </th>
    </tr>
  </thead>
  <tbody
    class="bg-background flex flex-col items-center justify-between overflow-y-scroll w-full rounded-xl"
    style=`height:${height}px`
  >
    <slot />
  </tbody>
</table>

<script src="../../scripts/editCourse.ts"></script>
