---
import MainLayout from "@layouts/MainLayout.astro";
import backgroundIcon1 from "@assets/icons/backgroundIcon1.png";
import backgroundIcon2 from "@assets/icons/backgroundIcon2.png";
const { action, title } = Astro.props;
---

<MainLayout>
    <div class="absolute top-0 left-0 font-black text-7xl text-dark-primary">
        Fultracker
    </div>
    <form
        class="absolute pt-24 pb-5 px-24 h-3/4 w-4/6 top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 flex flex-col items-center gap-y-2 bg-dark-brown rounded-2xl"
        action=`/api/auth/${action}`
        method="post"
        autocomplete="off"
    >
        <p class="absolute -top-[10%] text-8xl font-black text-dark-primary">
            {title}
        </p>
        <div class="flex flex-col gap-y-7 w-full h-2/5">
            <slot name="input" />
        </div>
        <div class="flex justify-between items-center w-full h-1/4 mt-4">
            <a
                class="pl-8 text-almost-white cursor-pointer font-light hover:opacity-70"
                id="switch-title"
                href={action == "register" ? "/signin" : "/register"}
            >
                Don't have account? Create new!
            </a>
        </div>
        <button
            class="bg-dark-primary px-9 py-5 text-almost-white rounded-[34px] font-bold text-4xl text-center tracking-wide hover:bg-[#001254] active:bg-[#010e40]"
            id="sign-btn"
            type="submit"
            >Let me INN!!!
        </button>
        <slot name="otherSignInOption" />
    </form>
    <div class="absolute top-0 right-0">
        <img class="h-72" src={backgroundIcon1} alt="Background icon 1" />
    </div>
    <div class="absolute bottom-0 left-0">
        <img class="h-64" src={backgroundIcon2} alt="Background icon 2" />
    </div>
    <div
        class="absolute bottom-1 right-1 font-garamond-premier-pro text-5xl font-semibold text-dark-primary"
    >
        Fulbright
    </div>
</MainLayout>

<script define:vars={{ action }}>
changeElemIds = {
    "sign-btn": ["Let me INN!!!", "Sign me Upp!!"],
    "switch-title": [
        "Don't have account? Create new!",
        "Already have an account? Sign in!",
    ],
};

for (ele in changeElemIds) {
    document.getElementById(ele).innerHTML =
        changeElemIds[ele][+(action == "register")];
}
</script>
