---
import MainLayout from "../layouts/MainLayout.astro";
import backgroundIcon1 from "../assets/icons/backgroundIcon1.png";
import backgroundIcon2 from "../assets/icons/backgroundIcon2.png";
import InputField from "../components/InputField.astro";
import "../styles/authLayout.css";
const { action, title } = Astro.props;
---

<MainLayout>
    <p class="app-title">Fultracker</p>
    <form action=`/api/auth/${action}` method="post" autocomplete="off">
        <p class="title">{title}</p>
        <div class="input-box">
            <InputField name="Email" , type="email" />
            <InputField name="Password" , type="password" />
        </div>
        <div class="switch-box">
            <p>Don't have account? Create new!</p>
        </div>
        <div class="btn-box">
            <button class="sign-btn" type="submit">Let me INN!!!</button>
        </div>
        <div class="option-divider-box"></div>
        <div class="different-option-box"></div>
    </form>
    <div style="position: absolute; top: 0; right: 0;">
        <img src={backgroundIcon1} alt="Background icon 1" height="300" />
    </div>
    <div style="position: absolute; bottom: 0; left: 0;">
        <img src={backgroundIcon2} alt="Background icon 2" height="260" />
    </div>
    <p class="schoolName">Fulbright</p>
</MainLayout>
