---
import MainLayout from "./MainLayout.astro";
import LogoIcon from "@assets/icons/backgroundIcon1.png";
import HomeIcon from "@assets/icons/Home.svg";
import SettingsIcon from "@assets/icons/Gear.svg";
import Button from "@components/astro/Button.astro";
import courseData from "@data/course_data.json";

const { page } = Astro.props;
var btnStyles: { [key: string]: "action" | "neutral" } = {
  home: "neutral",
  settings: "neutral",
};
btnStyles[page] = "action";

const terms = Object.keys(courseData);
const lastestTerm = terms[terms.length - 1].split("_").splice(0, 3). join(" ");
---

<MainLayout>
  <div class="flex flex-col items-center justify-between h-full">
    <nav
      class="w-full bg-background border-solid border-action border-b-2 pt-1 pr-2 pb-2 pl-1 flex flex-row items-center justify-between sticky top-0 z-50"
    >
      <a href="/about">
        <Button theme="neutral" isfilled padding="py-2 pl-2 pr-8">
          <img class="h-16" src={LogoIcon.src} alt="logo" />
          <span class="text-2xl font-black">Fultracker</span>
        </Button>
      </a>

      <div
        class="pr-5 pl-5 flex flex-row gap-2.5 items-center justify-start shrink-0"
      >
        <div
          class="text-text text-left"
          style="font: 800 20px 'Montserrat', sans-serif"
        >
          Current Term:
        </div>

        <div
          class="text-action text-left"
          style="
            font: 500 20px 'Montserrat', sans-serif;
            text-decoration: underline;
          "
        >
          <a href="https://onestop.fulbright.edu.vn/s/course-schedule">
            {lastestTerm}
          </a>
        </div>
      </div>

      <div class="flex flex-row gap-3 items-center justify-center shrink-0">
        <a href="/" data-astro-prefetch>
          <Button theme={btnStyles["home"]} isfilled padding="px-5 py-3">
            <img class="h-5" src={HomeIcon.src} alt="home">
            <span class="text-xl font-semibold">Home</span>
          </Button>
        </a>

        <a href="/settings" data-astro-prefetch>
          <Button theme={btnStyles["settings"]} isfilled padding="px-5 py-3">
            <img class="h-5" src={SettingsIcon.src} alt="settings">
            <span class="text-xl font-semibold">Settings</span>
          </Button>
        </a>
      </div>
    </nav>
    <slot />
  </div>
</MainLayout>
