---
import MainLayout from "./MainLayout.astro";
import LogoIcon from "@assets/icons/backgroundIcon1.png";
import HomeIcon from "@assets/icons/Home.svg";
import SettingsIcon from "@assets/icons/Gear.svg";
import ExitIcon from "@assets/icons/Exit.svg";
import ActionButton from "@components/ActionButton.astro";
---

<MainLayout>
  <div
    class="border-solid border-action border-b-2 pt-1 pr-2 pb-2 pl-1 flex flex-row items-center justify-between self-stretch shrink-0 relative"
  >
    <ActionButton
      style="neutral"
      leftIcon={LogoIcon}
      iconSize={50}
      text="Fultracker"
      textSize={24}
      fontWeight={900}
      customStyle="padding: 10px 40px 10px 20px;"
    />

    <div
      class="pr-5 pl-5 flex flex-row gap-2.5 items-center justify-start shrink-0 relative"
    >
      <div
        class="text-text text-left relative"
        style="font: 800 20px 'Montserrat', sans-serif"
      >
        Current Term:
      </div>

      <div
        class="text-action text-left relative"
        style="
        font: 500 20px 'Montserrat', sans-serif;
        text-decoration: underline;
      "
      >
        Term Link
      </div>
    </div>

    <div
      class="flex flex-row gap-3 items-center justify-center shrink-0 relative"
    >
      <ActionButton
        style="positive"
        leftIcon={HomeIcon}
        iconSize={20}
        text="Home"
        textSize={20}
        fontWeight={600}
        customStyle="padding: 12px 20px;"
      />

      <ActionButton
        style="neutral"
        leftIcon={SettingsIcon}
        iconSize={20}
        text="Settings"
        textSize={20}
        fontWeight={600}
        customStyle="padding: 12px 20px;"
      />
    </div>

    <ActionButton
      style="destructive"
      rightIcon={ExitIcon}
      iconSize={25}
      customStyle="padding: 15px; "
    />
  </div>
  <slot />
</MainLayout>
