---
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="w-full h-full flex flex-col items-center justify-center bg-light-secondary">
		<div class="w-[1440px] h-[720px]">
			<slot />
		</div>
	</body>
</html>
