.header {
    background-color: white;
    height: 55px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border-bottom: 1px solid rgb(222, 222, 222);
    z-index: 100;
}

.left-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right-section {
    width: 100px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    flex-shrink: 0;
}

.home-icon,
.progress-icon,
.shopping-cart-icon {
    height: 25px;
    cursor: pointer;
}

