.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-top: 1px solid rgb(222, 222, 222);
    background-color: white;
}
.progress-section {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    row-gap: 40px;
    margin-left: 200px;
}

.progress-container {
    margin-top: 20px;
}

.progress-bar {
    position: relative;
    height: 35px;
    width: 500px;
    padding-right: 2px;
    background-color: #abb2bc;
    border-radius: 35px;
    margin-top: 10px;
}

.progress-bar div {
    position: relative;
    display: block;
    overflow: hidden;
    height: 33px;
    border-radius: 35px;
    background-color: #60af3f;
    transition: all 1s;
}

#progress-1 {
    width: 25%;
}

#progress-2 {
    width: 20%;
}

.category-section {
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}